*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-align: justify;
}

header div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.limitar-secao{
    max-width: 1024px;
    margin: 0 auto;
}

header img{
    width: 150px;
}

header nav{
    font-size: 18px;
}

header a{
    margin: 0 5px;
    color: #000;
    text-decoration: none;
    padding: 5px;
}

section{
    padding: 60px 20px;
}

.secao-capa{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("imagens/bg-estacao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.secao-capa::before{
    content: " ";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;

}

.secao-capa div{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    padding: 60px 20px;
    z-index: 1;
}

.secao-capa h1{
    font-size: 80px;
}

.secao-capa h2{
    font-size: 35px;
}

.secao-capa h1, .secao-capa h2{
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
}

h3{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.secao-destaque img:first-of-type{
    width: 100%;
}

p{
    line-height: 32px;
}

.secao-destaque p::first-letter{
    font-size: 18px;
    font-weight: bold;
}

.secao-pontos{
    background: #e9e9e9;
}

li{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

ul{
    list-style: none;
    padding: 0;
}

li::before{
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("imagens/seta.png");
    margin-right: 6px;
}

.galeria{
    width: 100%;
}

.galeria img{
    width: calc((100% / 3) - 3px);
    opacity: 0.6;
}

.galeria img:hover {
    opacity: 1;
}

footer{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #f5c002;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: rgb(6, 70, 6);
    text-decoration: none;
    font-weight: bold;
}

footer a:visited{
    color: #ff0000;
}